/* Write some CSS below *//* Write some CSS below */
body {
	font-family: Overpass;
	font-size: 15px;
	color: rgb(30, 30, 30);
	background-color: rgb(230, 230, 230);
}


h1, h2, h3,{
	font-family: Chivo;
}

a {
	text-decoration: none;
}

.banner {
	text-align: top;
	background-image: url(images/banner.jpg);
	background-position: center;
	background-size: cover;
	padding: 150px 0px;
	color: black;
}

.banner h1 {
	font-size: 45px;
	background-position:left;
	padding: 0px;
	color: white;


}

.banner p{
	font-size: 15px;
	color: black;
}


.btn-red {
	color: black;
	background-color: rgb(200, 220, 320);
	padding: 15px 45px;
	margin-top: 30px;
	border-radius: 4px;
}

.btn-yellow:hover{
	opacity: 1.5;
	color: black;
	background-color: rgb(200, 220, 320);
}
.card-white img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 10px;
}



.card-white {
	background-color:white;
	width: 200px;
	padding: 24px;
	text-align: cover;
	margin: 8px;
	border-radius: 10px;
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
}

.container {
	width: 1500px;
	margin: inherit;
	text-align: cover;
	margin-bottom: 35px;

 }

 .footer {
	texte-align: cover;
	background-color: rgb(200, 220, 320);
	padding: 16px;
 }

 .cards {
	display: inline-flex;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;
 }



